annotated-types==0.7.0
blinker==1.8.2
click==8.1.7
cloudpathlib==0.21.1
confection==0.1.5
Flask==3.0.3
Flask-Cors==4.0.1
Flask-SQLAlchemy==3.1.1
gunicorn==22.0.0
itsdangerous==2.2.0
Jinja2==3.1.4
marisa-trie==1.2.1
markdown-it-py==3.0.0
MarkupSafe==2.1.5
mdurl==0.1.2
pydantic==2.8.2
pydantic_core==2.20.1
PyJWT==2.8.0
Pympler==1.0.1
PyPDF2==3.0.1
pygments==2.18.0
python-docx==1.1.2
python-dotenv==1.0.1
requests==2.32.3
rich==13.7.1
shellingham==1.5.4
smart-open==7.0.4
spacy==3.7.5
spacy-legacy==3.0.12
spacy-loggers==1.0.5
SQLAlchemy==2.0.31
Werkzeug==3.0.3
wrapt==1.16.0
